<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>Formulario CRUD para alumnos</h2><br>
        <form action="ClientesAdd" method="POST">
            {% csrf_token %}

            <pre>Rut: <input type="text" name="rut"></pre>
            <pre>Nombre: <input type="text" name="nombre"></pre>
            <pre>Apellidos: <input type="text" name="apellidos"></pre>
            <pre>Correo: <input type="mail" name="correo"></pre>
            <pre>Celular: <input type="text" name="celular"></pre>

            <input type="submit" name="opcion" value="Agregar">

        </form><br><br>
        <a href="{% url 'crud' %}">Volver</a>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% end if %}
        </div>
    </div>
</body>
</html>